---
- name: Install NFS server packages
  package:
    name:
      - nfs-server
      - rpcbind
    state: present

- name: Enable and start NFS services
  service:
    name: nfs-server
    enabled: yes
    state: started

- name: Create export directory
  file:
    path: "{{ nfs_export_dir }}"
    state: directory
    owner: root
    group: root
    mode: '0777'

- name: Configure /etc/exports
  copy:
    dest: /etc/exports
    content: |
      {{ nfs_export_dir }} {{ nfs_allowed_clients }}(rw,sync,no_root_squash,no_all_squash)
    mode: '0644'

- name: Reload exports
  command: exportfs -ra
